<nav class="sticky px-6 top-0 bg-purple-900">
  <ul class="flex py-6 text-white max-w-5xl m-auto">
    <li>
      <a class="mr-2 py-2 pr-2 rounded-lg hover:underline" routerLink="/" routerLinkActive="-ml-2 pl-2 bg-purple-600" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li>
      <a class="mx-2 p-2 rounded-lg hover:underline" routerLink="/about" routerLinkActive="bg-purple-600" [routerLinkActiveOptions]="{ exact: true }">About</a>
    </li>
    <li>
      <a class="mx-2 p-2 rounded-lg hover:underline" routerLink="/blog" routerLinkActive="bg-purple-600" [routerLinkActiveOptions]="{ exact: true }">Blog</a>
    </li>
    <li>
      <a class="mx-2 p-2 rounded-lg hover:underline" routerLink="/contact" routerLinkActive="bg-purple-600" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
    </li>
  </ul>
</nav>
