section {
  min-height: 20rem;
  box-shadow: 0 0 45px 11px rgba(0, 0, 0, 0.1);
}

aside {
  width: 70rem;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center 25%;
}
